hortapp/platforms/*
hortapp/hooks/*
hortapp/plugins/*

!hortapp/www/*
hortapp/www/bower_components/*

!hortapp/platforms/platforms.json
!hortapp/platforms/android/build/outputs/apk/android-debug-unaligned.apk
!hortapp/plugins/android.json
!hortapp/plugins/browser.json
!hortapp/plugins/fetch.json
!hortapp/hooks/README.md
