<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Voltar</span>
            </a>
        </div>
        <div class="center sliding">Chat</div>
        <div class="right sliding">
            <a href="#" class="link icon-only open-panel">
                <i class="icon icon-bars"></i>
                <span>Menu</span>
            </a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="chat" class="page">
        <div class="page-content hide-toolbar-on-scroll">
            <div class="card facebook-card">
                <div class="card-header no-border">
                    <div class="facebook-avatar"><img src="img/avatar/user1.jpg" width="34" height="34"></div>
                    <div class="facebook-name">Bob Minion</div>
                    <div class="facebook-date">Hoje às 21:42</div>
                </div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="messages">
                            <div class="message message-received">
                                <div class="message-text">Amanhã passo pegar os tomates</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer no-border">
                    <a href="#" class="link"></a>
                    <a href="#" class="link"></a>
                    <a href="views/chat/conversa.html" class="link color-blue"><i class="fa fa-commenting" aria-hidden="true"></i>&nbsp Conversar</a>
                </div>
            </div>

            <div class="card facebook-card">
                <div class="card-header no-border">
                    <div class="facebook-avatar"><img src="img/avatar/user2.jpg" width="34" height="34"></div>
                    <div class="facebook-name">Dave Minion</div>
                    <div class="facebook-date">Ontem às 08:12</div>
                </div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="messages">
                            <div class="message message-sent">
                                <div class="message-text">Combinado, amanhã as 9 horas</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer no-border">
                    <a href="#" class="link"></a>
                    <a href="#" class="link"></a>
                    <a href="views/chat/conversa.html" class="link color-blue"><i class="fa fa-commenting" aria-hidden="true"></i>&nbsp Conversar</a>
                </div>
            </div>
        </div>
    </div>
