<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Voltar</span>
            </a>
        </div>
        <div class="center sliding">Bob Minion</div>
        <div class="right sliding">
            <a href="#" class="link icon-only">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <span>Opções</span>
            </a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="conversa" class="page no-toolbar">
        <div class="page-content messages-content">
            <div class="messages">
                <div class="messages-date">Sunday, Feb 9 <span>12:58</span></div>
                <div class="message message-sent">
                    <div class="message-text">Hello</div>
                </div>
                <div class="message message-sent">
                    <div class="message-text">How are you?</div>
                </div>
                <div class="message message-received">
                    <div class="message-name">Bob Minion</div>
                    <div class="message-text">I am fine, thanks</div>
                </div>
                <div class="messages-date">Sunday, Feb 3 <span>11:58</span></div>
                <div class="message message-sent">
                    <div class="message-text">Nice photo?</div>
                </div>
                <div class="message message-sent message-pic">
                    <div class="message-text"><img src="http://lorempixel.com/300/300/"></div>
                    <div class="message-label">Delivered</div>
                </div>
                <div class="message message-received">
                    <div class="message-name">Bob Minion</div>
                    <div class="message-text">Wow, awesome!</div>
                </div>
            </div>
            <div class="toolbar messagebar">
                <div class="toolbar-inner">
                    <textarea placeholder="Mensagem" class=""></textarea><a href="#" class="link"><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp Enviar</a>
                </div>
            </div>
        </div>
    </div>
