<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Voltar</span>
            </a>
        </div>
        <div class="center sliding">Meu perfil</div>
        <div class="right sliding">
            <a href="#" data-panel="left" class="link">
                <i class="fa fa-check" aria-hidden="true"></i>
                <span>Salvar</span>
            </a>
        </div>
    </div>
</div>

<div class="page" data-page="meuPerfil">
    <div class="page-content">
        <form id="formPerfil" class="list-block store-data">
            <div class="list-block accordion-list color-blue">
                <ul>
                    <li class="accordion-item">
                        <a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title"><i class="fa fa-user" aria-hidden="true"></i> Contato</div>
                            </div>
                        </a>
                        <div class="accordion-item-content">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="fa fa-user" aria-hidden="true"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">Nome</div>
                                            <div class="item-input">
                                                <input type="text" name="nome" placeholder="Nome" value="Kevin Minion" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">E-mail</div>
                                            <div class="item-input">
                                                <input type="email" name="email" placeholder="E-mail" value="kevin.minion@gmail.com" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">Telefone</div>
                                            <div class="item-input">
                                                <input type="tel" name="telefone" placeholder="Telefone">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item">
                        <a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title"><i class="fa fa-map-marker" aria-hidden="true"></i> Endereço</div>
                            </div>
                        </a>
                        <div class="accordion-item-content">
                            <div class="content-block">
                                <p>Item 2 content. Lorem ipsum dolor sit amet...</p>
                            </div>
                        </div>
                    </li>
                    <li class="accordion-item">
                        <a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title"><i class="fa fa-lock" aria-hidden="true"></i> Privacidade</div>
                            </div>
                        </a>
                        <div class="accordion-item-content">
                            <div class="content-block">
                                <p>Item 2 content. Lorem ipsum dolor sit amet...</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>










        </form>
    </div>
</div>
