<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Voltar</span>
            </a>
        </div>
        <div class="center sliding">Meu perfil</div>
        <div class="right sliding">
            <a href="#" data-panel="left" class="link" id="usuSalvar">
                <i class="fa fa-check" aria-hidden="true"></i>
                <span>Salvar</span>
            </a>
        </div>
    </div>
</div>

<div class="page" data-page="meuPerfil">
    <div class="page-content">
        <form id="usuFormulario" class="list-block">
            <div class="list-block accordion-list">
                <ul>
                    <li class="accordion-item">
                        <a href="#" class="item-content item-link">
                            <div class="item-inner color-blue">
                                <div class="item-title"><i class="fa fa-user" aria-hidden="true"></i> Contato</div>
                            </div>
                        </a>
                        <div class="accordion-item-content">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="fa fa-user" aria-hidden="true"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">Nome</div>
                                            <div class="item-input">
                                                <input type="text" name="usuNome" id="usuNome" placeholder="Nome" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">E-mail</div>
                                            <div class="item-input">
                                                <input type="email" name="usuEmail" id="usuEmail" placeholder="E-mail" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">Telefone</div>
                                            <div class="item-input">
                                                <input type="tel" name="usuTelefone" id="usuTelefone" placeholder="Telefone">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="accordion-item">
                        <a href="#" class="item-content item-link">
                            <div class="item-inner color-blue">
                                <div class="item-title"><i class="fa fa-map-marker" aria-hidden="true"></i> Endereço</div>
                            </div>
                        </a>
                        <div class="accordion-item-content">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner semBorda">
                                            <div class="item-title label">Usar GPS</div>
                                            <div class="item-input">
                                                <label class="label-switch">
                                                  <input type="checkbox" nome="usuLocalizacaoAtual" id="usuLocalizacaoAtual">
                                                  <div class="checkbox"></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="content-block">
                                <div class="row hide mapa">
                                    <!--<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0P239oFuH1QHiBM91-nmQo435XFcDKfs&q=Space+Needle,Seattle+WA" allowfullscreen></iframe>
                                    <input id="endereco" type="textbox" value="">
                                    <input id="btnBuscar" type="button" value="Buscar">-->
                                    <div class="row col-100 pesquisarLocalizacao">
                                        <a href="#" class="button col-50" id="btnPesquisarLocalizacao"><i class="fa fa-search" aria-hidden="true"></i>&nbspPesquisar localização</a>
                                        <a href="#" class="button col-50" id="btnLocalizacaoAtual"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbspLocalização Atual</a>
                                    </div>
                                    <div  class="canvasMapa" id="mapCanvas"></div>
                                    <div class="usuLocalizacao color-blue">
                                    </div>
                                </div>

                                <div class="row content-block divisor animated zoomIn">
                                    <div class="col-45">
                                        <hr>
                                    </div>
                                    <div class="col-10 text-center divisor">OU</div>
                                    <div class="col-45">
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="usuEndereco animated fadeInRight">
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title label">CEP</div>
                                                <div class="item-input">
                                                    <input type="number" name="endCep" id="endCep" placeholder="00000-000">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="Voltar" data-back-on-select="true" data-searchbar="true" data-searchbar-placeholder="Pesquisar Estados" data-searchbar-cancel="Cancelar">
                                            <select name="ufCodigo" id="ufCodigo">

                                        </select>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">Estado</div>
                                                    <div class="item-after" id="estadoSelecionado"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="Voltar" data-back-on-select="true" data-searchbar="true" data-searchbar-placeholder="Pesquisar Cidades" data-searchbar-cancel="Cancelar">
                                            <select name="cidCodigo" id="cidCodigo" class="text-capitalize">

                                        </select>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title">Cidade</div>
                                                    <div class="item-after" id="cidadeSelecionada"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title label">Bairro</div>
                                                <div class="item-input">
                                                    <input type="text" name="endBairro" id="endBairro" placeholder="Bairro">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title label">Logradouro</div>
                                                <div class="item-input">
                                                    <input type="text" name="endLogradouro" id="endLogradouro" placeholder="Logradouro">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title label">Número</div>
                                                <div class="item-input">
                                                    <input type="text" name="endNumero" id="endNumero" placeholder="Numero">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li class="accordion-item">
                        <a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title color-blue"><i class="fa fa-lock" aria-hidden="true"></i> Privacidade</div>
                            </div>
                        </a>
                        <div class="accordion-item-content">
                            <div class="content-block">
                                <hr>
                            </div>
                            <p class="content-block text-muted text-uppercase">Telefone</p>
                            <ul>
                                <li>
                                    <label class="label-checkbox item-content">
                                      <input type="checkbox" name="usuTelefoneVisivel" id="usuTelefoneVisivel"  value="true">
                                      <div class="item-media">
                                          <i class="icon icon-form-checkbox"></i>
                                      </div>
                                      <div class="item-inner">
                                          <div class="item-title">Número de telefone público</div>
                                      </div>
                                    </label>
                                </li>
                            </ul>
                            <div class="content-block">
                                <hr>
                            </div>
                            <p class="content-block text-muted text-uppercase">Endereço</p>
                            <ul>
                                <li>
                                    <label class="label-checkbox item-content">
                                    <input type="checkbox" name="usuEndVisivel" id="usuEndVisivel" value="true">
                                    <div class="item-media">
                                        <i class="icon icon-form-checkbox"></i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">Localização pública</div>
                                    </div>
                                  </label>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>
