<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Voltar</span>
            </a>
        </div>
        <div class="center sliding">Meu perfil</div>
        <div class="right sliding">
            <a href="#" data-panel="left" class="link open-panel">
                <i class="fa fa-check" aria-hidden="true"></i>
                <span>Salvar</span>
            </a>
        </div>

        <!-- Sub navbar -->


    </div>
</div>
<div class="page" data-page="perfil">
    <div class="page-content">
        <a href="views/about/about.html" class="button button-big button-fill botaoFlutuante color-green"><i class="fa fa-check" aria-hidden="true"></i>&nbspSalvar</a>
        <h1>Meu Perfil!!! Oloco bicho...</h1>
        <h1>Meu Perfil!!! Oloco bicho...</h1>
        <h1>Meu Perfil!!! Oloco bicho...</h1>
        <h1>Meu Perfil!!! Oloco bicho...</h1>
        <h1>Meu Perfil!!! Oloco bicho...</h1>
        <h1>Meu Perfil!!! Oloco bicho...</h1>
        <h1>Meu Perfil!!! Oloco bicho...</h1>
        <h1>Meu Perfil!!! Oloco bicho...</h1>
        <h1>Meu Perfil!!! Oloco bicho...</h1>
        <h1>Meu Perfil!!! Oloco bicho...</h1>
        <h1>Meu Perfil!!! Oloco bicho...</h1>
        <h1>Meu Perfil!!! Oloco bicho...</h1>
        <h1>Meu Perfil!!! Oloco bicho...</h1>
        <h1>Meu Perfil!!! Oloco bicho...</h1>
        <h1>Meu Perfil!!! Oloco bicho...</h1>
    </div>
</div>
