<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Voltar</span>
            </a>
        </div>
        <div class="left sliding">Editar</div>
        <div class="right sliding">
            <a href="#" data-panel="left" class="link open-panel">
                <i class="icon icon-bars"></i>
                <span>Menu</span>
            </a>
        </div>
    </div>
</div>

<div class="page" data-page="editarOferta">
  <div class="page-content">
      <form id="oftEditarFormulario" class="list-block">
          <ul>
              <li>
                  <a href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="Voltar" data-back-on-select="true" data-searchbar="true" data-searchbar-placeholder="Pesquisar Item" data-searchbar-cancel="Cancelar">
                      <select name="itmEditarCodigo" id="itmEditarCodigo"></select>
                      <div class="item-content">
                          <div class="item-inner">
                              <div class="item-title label">Item</div>
                              <div class="item-after" id="itemEditarSelecionado"></div>
                          </div>
                      </div>
                  </a>
              </li>
              <li>
                  <div class="item-content">
                      <!-- <div class="item-media"><i class="icon icon-form-email"></i></div> -->
                      <div class="item-inner">
                          <div class="item-title label">Quantidade</div>
                          <div class="item-input">
                              <input type="number" min="1" max="999" name="oftEditarQuantidade" id="oftEditarQuantidade" pattern="^\d*[0-9](\.\d*[0-9])?$" placeholder="Quantidade">
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="item-content">
                      <!-- <div class="item-media"><i class="icon icon-form-email"></i></div> -->
                      <div class="item-inner">
                          <div class="item-title label">Valor</div>
                          <div class="item-input">
                              <input type="number" min="0" name="oftEditarValor" id="oftEditarValor" pattern="^\d*[0-9](\.\d*[0-9])?$" placeholder="Valor">
                          </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="item-content">
                      <!-- <div class="item-media"><i class="icon icon-form-email"></i></div> -->
                      <div class="item-inner">
                          <!-- <div class="item-title label">Foto</div> -->
                          <div class="item-input">
                              <a href="#" class="button" id="btnEditarTirarFoto"><i class="fa fa-camera-retro" aria-hidden="true"></i>&nbspTirar Foto</a>
                              <img id="fotoEditarOferta" />
                          </div>
                      </div>
                  </div>
              </li>
              <!-- SELEÇÃO DE ENDEREÇO -->
              <li>
                  <div class="item-content">
                      <div class="item-inner semBorda">
                          <div class="item-title label">Usar meu endereço</div>
                          <div class="item-input">
                              <label class="label-switch">
                <input type="checkbox" nome="oftEditarEnderecoCadastro" id="oftEditarEnderecoCadastro">
                <div class="checkbox"></div>
              </label>
                          </div>
                      </div>
                  </div>

                  <!-- DIV COM CONTEUDO DO ENDEREÇO PROPRIO -->
                  <div class="content-block enderecoEditarProprio">

                      <div class="item-content">
                          <div class="item-inner semBorda">
                              <div class="item-title label">Usar GPS</div>
                              <div class="item-input">
                                  <label class="label-switch">
                              <input type="checkbox" nome="oftEditarLocalizacaoAtual" id="oftEditarLocalizacaoAtual">
                              <div class="checkbox"></div>
                            </label>
                              </div>
                          </div>
                      </div>

                      <div class="content-block">

                          <div class="row hide mapaEditarOferta">
                              <div class="row col-100 pesquisarEditarLocalizacaoOferta">
                                  <a href="#" class="button col-100" id="btnEditarPesquisarLocalizacaoOferta"><i class="fa fa-search" aria-hidden="true"></i>&nbspPesquisar localização</a>
                                  <a href="#" class="button col-100" id="btnEditarLocalizacaoAtualOferta"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbspLocalização Atual</a>
                              </div>

                              <div class="canvasMapa" id="mapEditarCanvasOferta"></div>
                              <div class="color-blue" id="oftEditarLocalizacao"></div>

                          </div>

                          <div class="row content-block divisorOferta animated zoomIn">
                              <div class="col-45">
                                  <hr>
                              </div>
                              <div class="col-10 text-center divisor">OU</div>
                              <div class="col-45">
                                  <hr>
                              </div>
                          </div>

                      </div>

                      <div class="enderecoEditarOferta hide animated fadeInRight">
                          <ul>
                              <li>
                                  <div class="item-content">
                                      <div class="item-inner">
                                          <div class="item-title label">CEP</div>
                                          <div class="item-input">
                                              <input type="number" name="endEditarCepOferta" id="endEditarCepOferta" placeholder="00000-000">
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <a href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="Voltar" data-back-on-select="true" data-searchbar="true" data-searchbar-placeholder="Pesquisar Estados" data-searchbar-cancel="Cancelar">
                                      <select name="ufEditarCodigoOferta" id="ufEditarCodigoOferta">

                              </select>
                                      <div class="item-content">
                                          <div class="item-inner">
                                              <div class="item-title">Estado</div>
                                              <div class="item-after" id="estadoEditarSelecionadoOferta"></div>
                                          </div>
                                      </div>
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="item-link smart-select" data-open-in="popup" data-popup-close-text="Voltar" data-back-on-select="true" data-searchbar="true" data-searchbar-placeholder="Pesquisar Cidades" data-searchbar-cancel="Cancelar">
                                      <select name="cidEditarCodigoOferta" id="cidEditarCodigoOferta" class="text-capitalize">

                              </select>
                                      <div class="item-content">
                                          <div class="item-inner">
                                              <div class="item-title">Cidade</div>
                                              <div class="item-after" id="cidadeEditarSelecionadaOferta"></div>
                                          </div>
                                      </div>
                                  </a>
                              </li>
                              <li>
                                  <div class="item-content">
                                      <div class="item-inner">
                                          <div class="item-title label">Bairro</div>
                                          <div class="item-input">
                                              <input type="text" name="endEditarBairroOferta" id="endEditarBairroOferta" placeholder="Bairro">
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="item-content">
                                      <div class="item-inner">
                                          <div class="item-title label">Logradouro</div>
                                          <div class="item-input">
                                              <input type="text" name="endEditarLogradouroOferta" id="endEditarLogradouroOferta" placeholder="Logradouro">
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="item-content">
                                      <div class="item-inner">
                                          <div class="item-title label">Número</div>
                                          <div class="item-input">
                                              <input type="text" name="endEditarNumeroOferta" id="endEditarNumeroOferta" placeholder="Numero">
                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </li>
              <!--FIM DO ENDEREÇO  -->
              <li>

                  <div class="item-content">
                      <div class="item-inner">
                          <div class="item-title label">Data Inicial</div>
                          <div class="item-input">
                              <input type="text" placeholder="Selecionar Data" name="oftEditarDataInicial" id="oftEditarDataInicial" readonly>
                          </div>
                      </div>
                  </div>
              </li>

              <li>
                  <div class="item-content">
                      <div class="item-inner">
                          <div class="item-title label">Data de vencimento</div>
                          <div class="item-input">
                              <input type="text" placeholder="Selecionar Data" name="oftEditarDataFinal" id="oftEditarDataFinal"readonly>
                          </div>
                      </div>
                  </div>
              </li>

              <li>
                  <div class="item-content">
                      <div class="item-inner">
                          <div class="item-title label">Observações</div>
                          <div class="item-input">
                              <textarea name="oftEditarObs" id="oftEditarObs"></textarea>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
      </form>
  </div>
</div>
