<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Voltar</span>
            </a>
        </div>
        <div class="center sliding">Minhas Ofertas</div>
        <div class="right sliding">
            <a href="views/oferta/novaOferta.html" data-panel="left" class="link">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span>Nova Oferta</span>
            </a>
        </div>
    </div>
</div>

<div class="page" data-page="minhasOfertas">
    <div class="page-content" id="pullToRefreshMinhasOfertas">
      <div class="pull-to-refresh-layer">
          <div class="preloader"></div>
          <div class="pull-to-refresh-arrow"></div>
      </div>
        <div class="list-block media-list">
            <ul id="listaMinhasOfertas">
                <!-- <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media"><img src="..." width="80"></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Yellow Submarine</div>
                                <div class="item-after">$15</div>
                            </div>
                            <div class="item-subtitle">Beatles</div>
                            <div class="item-text">Lorem ipsum dolor sit amet...</div>
                        </div>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</div>
