<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Voltar</span>
            </a>
        </div>
        <div class="left sliding">Detalhes da Oferta</div>
        <div class="right sliding">
            <a href="#" data-panel="left" class="link open-panel">
                <i class="icon icon-bars"></i>
                <span>Menu</span>
            </a>
        </div>
    </div>
</div>

<div class="page" data-page="ofertaDetalhes">
    <div class="page-content">

        <div class="card facebook-card">
            <div class="card-header no-border">
                <div class="facebook-avatar"><img src="" width="34" height="34" id="usuarioAvatar"></div>
                <div class="facebook-name"></div>
                <div class="facebook-date"></div>
            </div>
            <div class="card-content">
                <div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-media"><i class="fa fa-apple" aria-hidden="true"></i></div>
                            <div class="item-inner">
                                <div class="item-title">Item</div>
                                <div class="item-after" id="itmNome"></div>
                            </div>
                        </li>
                        <li class="item-content" id="visualizarImagem">
                            <div class="item-media"><i class="fa fa-camera" aria-hidden="true"></i></div>
                            <div class="item-inner">
                                <div class="item-title">Imagem</div>
                                <div class="item-after">Visualizar</div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-media"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                            <div class="item-inner">
                                <div class="item-title">Data inicial</div>
                                <div class="item-after" id="oftDataInicial"></div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-media"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                            <div class="item-inner">
                                <div class="item-title">Data final</div>
                                <div class="item-after" id="oftDataFinal"></div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-media"><i class="fa fa-balance-scale" aria-hidden="true"></i></div>
                            <div class="item-inner">
                                <div class="item-title">Quantidade disponível</div>
                                <div class="item-after" id="oftQuantidade"></div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-media"><i class="fa fa-money" aria-hidden="true"></i></div>
                            <div class="item-inner">
                                <div class="item-title">Valor</div>
                                <div class="item-after" id="oftValor"></div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-media"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                            <div class="item-inner">
                                <div class="item-title">Endereço</div>
                                <div class="item-after" id=""></div>
                            </div>
                        </li>
                        <div class="content-block">
                            <div class="canvasMapa" id="mapCanvasOferta"></div>
                            <div class="usuLocalizacao color-blue" id="usuLocalizacaoOferta"></div>
                        </div>


                    </ul>
                </div>
            </div>
            <div class="card-footer no-border">
                <a href="#" class="link"></a>
                <a href="#" class="link" id="btnReservar"><i class="fa fa-cart-plus" aria-hidden="true"></i>&nbspReservar</a>
                <a href="#" class="link"></a>
            </div>
        </div>


    </div>
</div>
