<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Voltar</span>
            </a>
        </div>
        <div class="left sliding">Detalhes</div>
        <div class="right sliding">
            <a href="#" data-panel="left" class="link open-panel">
                <i class="icon icon-bars"></i>
                <span>Menu</span>
            </a>
        </div>
    </div>
</div>

<div class="page" data-page="ofertaDetalhes">
    <div class="page-content" id="">
        <div class="content-block">
            <div class="row">
                <div class="col-70">
                    Teste
                </div>
                <div class="col-30">
                    <img src="" alt="" id="imgMiniatura" />
                </div>
            </div>
        </div>

        <div class="card facebook-card">
            <div class="card-header no-border">
                <div class="facebook-avatar"><img src="" width="34" height="34" id="usuarioAvatar"></div>
                <div class="facebook-name"></div>
                <div class="facebook-date"><a href="mailto:mateus.zanini.gl@gmail.com">mateus.zanini.gl@gmail.com</a></div>
            </div>
            <div class="card-content"><img src="..." width="100%"></div>
            <div class="card-footer no-border">
                <a href="#" class="link">Like</a>
                <a href="#" class="link">Comment</a>
                <a href="#" class="link">Share</a>
            </div>
        </div>


    </div>
</div>
