<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Voltar</span>
            </a>
        </div>
        <div class="center sliding">Todas as Ofertas</div>
        <div class="right sliding">
            <a href="#" data-panel="left" class="link">
                <i class="fa fa-check" aria-hidden="true"></i>
                <span>Preferências</span>
            </a>
        </div>
    </div>
</div>

<div class="page" data-page="ofertas">
    <div class="page-content infinite-scroll">
        <div class="list-block media-list">
            <ul id="listaOfertas">
            </ul>
        </div>
        <!-- Preloader -->
        <div class="infinite-scroll-preloader">
            <div class="preloader"></div>
        </div>
    </div>
</div>
